ebsco=
defaultUpvPath=
defaultRmPath=
defaultLogPath=
reharvestThreadCount=

reharvestTritius=
reharvestKoha=
reharvestClavius=
reharvestArl=
reharvestCdk=
reharvestKramerius=
reharvestRandom=

reharvestJobDefault=oaiHarvestJob
reharvestJobArl=cosmotronHarvestJob
reharvestJobCdk=krameriusHarvestJob
reharvestJobKramerius=krameriusHarvestJob
reharvestJobRkka=oaiHarvestOneByOneJob

reharvestAsyncCdk=no
reharvestAsyncRkka=no
